@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij de Toeslagen Hackathon</h1>
    <p>Gebruik een van de knoppen hieronder om een bericht te versturen.</p>
    <div>
        <a href="~/message/vraagbrief" class="btn btn-link">Ontbrekend inkomen</a>
    </div>
    <div>
        <a href="~/message/rappelbrief" class="btn btn-link">Rappelbrief ontbrekend inkomen</a>
    </div>
    <div>
        <a href="~/message/beschikking" class="btn btn-link">Beschikking</a>
    </div>
</div>
